<title>Cadastrar Produto</title>
<form action="/Produto/CadastrarProduto" method="post">
    @Html.AntiForgeryToken()
    <label for="nome">Nome:</label>
    <input id="nome" name="produto.Nome" value="@ViewBag.Produto.Nome" class="form-control" />

    <label for="preco">Preço:</label>
    <input id="preco" name="produto.Preco" value="@ViewBag.Produto.Preco" class="form-control" />
    <label for="quantidade">Quantidade:</label>
    <input id="quantidade" name="produto.Quantidade" value="@ViewBag.Produto.Quantidade" class="form-control" />
    <label for="descricao">Descrição:</label>
    <input id="descricao" name="produto.Descricao" value="@ViewBag.Produto.Descricao" class="form-control" />
    <label for="categoria">Categoria:</label>
    <select id="categoria" name="produto.CategoriaId" class="form-control">
        @foreach (var categoria in ViewBag.Categorias)
        {
            <option value="@categoria.Id" selected=@categoria.Id.Equals(ViewBag.Produto.CategoriaId)>@categoria.Nome</option>
        }
    </select>
    <input type="submit" value="Cadastrar" class="btn-block btn-success" />


    <ul class="list-group alert-warning list-unstyled">
        <li>@Html.ValidationMessage("produto.Nome")</li>

        <li> @Html.ValidationMessage("produto.Quantidade")</li>

        <li>@Html.ValidationMessage("produto.Preco")</li>
    </ul>

</form>
@Html.RouteLink("Voltar ao Inicio", "Home")

