@model IEnumerable<GestaoVendasWeb.Models.VendaProdutos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Campanhas.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipos.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unidades.descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Produto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campanhas.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipos.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unidades.descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
